# ========================================
# FILE BIẾN MÔI TRƯỜNG - ProFit
# ========================================

# ========== DATABASE (Backend Java) ==========
DB_URL=jdbc:mysql://localhost:3306/ProFitSuppsDB?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Ho_Chi_Minh&connectionCharacterSet=UTF-8
DB_USERNAME=root
DB_PASSWORD=root


# ========== FRONTEND (Backend Java) ==========
FRONTEND_BASE_URL=http://localhost:5173

